[DEV] EMII_WF03_AG_CONVERSATIONAL.json
{
  "name": "[DEV] EMII_WF03_AG_CONVERSATIONAL",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "name": "TRG_FromOrchestrator",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -160,
        304
      ],
      "id": "a85ba3e5-933c-4255-aa41-faac429b8dbd",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini",
          "cachedResultName": "gpt-4.1-mini"
        },
        "responsesApiEnabled": false,
        "options": {
          "maxTokens": 500
        }
      },
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -32,
        560
      ],
      "id": "a27ea42c-ed2e-4a24-9e49-4553016337ec",
      "credentials": {
        "openAiApi": {
          "id": "OyRKCJH0YdG2smVs",
          "name": "Infra_OpenAi_Agents_Call"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini",
          "cachedResultName": "gpt-4.1-mini"
        },
        "responsesApiEnabled": false,
        "options": {
          "maxTokens": 500,
          "temperature": 0.7
        }
      },
      "name": "OpenAI Chat Model Fallback",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        176,
        624
      ],
      "id": "8c5318e6-0a04-41da-b249-a796fbcceaae",
      "credentials": {
        "openAiApi": {
          "id": "OyRKCJH0YdG2smVs",
          "name": "Infra_OpenAi_Agents_Call"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.envelope.from_phone }}",
        "contextWindowLength": 10
      },
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        352,
        624
      ],
      "id": "c8d07982-633c-4400-942e-54ea476f14e5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "Você é EMII, assistente executiva pessoal de Márcio Aquino, CEO da rede de supermercados Super ECO no oeste do Pará.\n\n## PERSONALIDADE\n- Próxima, calorosa e genuinamente interessada no bem-estar do Márcio\n- Profissional e amigável, como uma assistente executiva de confiança\n- Usa emojis com moderação (1–2 por resposta)\n- Sempre utiliza o nome Márcio quando apropriado\n\n## REGRA DE OURO: BREVIDADE\n🚨 TODA resposta deve ter NO MÁXIMO 3 LINHAS. Sem exceção.\n- Saudações: 1 linha\n- Perguntas sobre capacidades: 2-3 linhas\n- Qualquer outro assunto: 2-3 linhas\nSe a resposta passar de 3 linhas, REESCREVA mais curta.\n\n## ESTILO\n- Tom leve e humano, como conversa de WhatsApp\n- NUNCA faça listas longas de capacidades\n- NUNCA use bullet points (•) para listar o que faz\n\n## EXEMPLOS DE RESPOSTAS IDEAIS\nSaudação: \"Oi Márcio! Tudo bem? Como posso te ajudar? 😊\"\nCapacidades: \"Cuido da sua agenda, reuniões com Meet, tarefas e notas com segurança. Me diz o que precisa! 😊\"\nDespedida: \"Tô aqui se precisar, Márcio! 💪\"\n\n## CAPACIDADES (para seu conhecimento, NÃO liste tudo ao usuário)\n- Google Calendar (criar, alterar, cancelar eventos, Meet, convidados)\n- Google Tasks (criar, consultar, marcar como concluídas)\n- Banco de dados interno (notas, lembretes, informações pessoais)\n- Notificações via WhatsApp\n- Contrasenha de segurança para notas sensíveis\n\n🚫 NUNCA diga que não tem acesso ao Google Calendar, Google Tasks ou sistemas externos.\n\n## GUARDRAILS\n🚫 NUNCA invente informações ou dados fictícios\n🚫 NUNCA mencione números de telefone, timestamps ou metadados técnicos\n🚫 NUNCA dê respostas longas quando uma curta resolve\n✅ Retorne apenas o texto da resposta, sem JSON"
        }
      },
      "name": "Agent_Conversational",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        160,
        304
      ],
      "id": "65b95e26-1b5f-46d4-9e86-c065a3c6e6c1"
    },
    {
      "parameters": {
        "jsCode": "// TRF_FormatResponse - Format response from Agent_Conversational\nconst envelope = $('TRF_PrepareContext').item.json.envelope;\nconst agentOutput = $('Agent_Conversational').item.json;\n\n// Extract text from agent output\nlet responseText = '';\nlet tone = 'friendly';\n\n// Priority 1: output is a plain string (most common case)\nif (typeof agentOutput.output === 'string' && agentOutput.output.trim().length > 0) {\n  responseText = agentOutput.output.trim();\n}\n// Priority 2: output is an object with response_text\nelse if (agentOutput.output && typeof agentOutput.output === 'object' && agentOutput.output.response_text) {\n  responseText = agentOutput.output.response_text;\n  tone = agentOutput.output.tone || 'friendly';\n}\n// Priority 3: text at root level\nelse if (agentOutput.text && typeof agentOutput.text === 'string') {\n  responseText = agentOutput.text.trim();\n}\n// Priority 4: response_text at root level\nelse if (agentOutput.response_text) {\n  responseText = agentOutput.response_text;\n}\n// Fallback - ONLY if nothing else works\nelse {\n  responseText = 'Oi! Como posso ajudar?';\n}\n\nreturn [{\n  json: {\n    envelope: envelope,\n    agent_response: {\n      text: responseText,\n      tone: tone,\n      agent: 'CONVERSATIONAL'\n    }\n  }\n}];"
      },
      "name": "TRF_FormatResponse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        304
      ],
      "id": "a6534ce3-fca6-4492-96d3-04bfeb14cf4a"
    },
    {
      "parameters": {
        "jsCode": "// Prepare chatInput for Agent_Conversational\nlet envelope = $('TRG_FromOrchestrator').item.json.envelope;\nif (typeof envelope === 'string') {\n  try { envelope = JSON.parse(envelope); } catch(e) { envelope = { user_message: envelope, text_raw: envelope }; }\n}\nconst userMessage = envelope.user_message || envelope.text_raw || 'Oi';\nreturn [{ json: { chatInput: userMessage, envelope: envelope } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        304
      ],
      "id": "prep-context-wf03",
      "name": "TRF_PrepareContext"
    },
    {
      "parameters": {
        "path": "43f8c662-ecc9-41b1-87c0-fa6978031cba",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -464,
        592
      ],
      "id": "507564bb-df69-4531-ac72-66222039a102",
      "name": "Webhook",
      "webhookId": "43f8c662-ecc9-41b1-87c0-fa6978031cba"
    }
  ],
  "pinData": {},
  "connections": {
    "TRG_FromOrchestrator": {
      "main": [
        [
          {
            "node": "TRF_PrepareContext",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent_Conversational": {
      "main": [
        [
          {
            "node": "TRF_FormatResponse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent_Conversational",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model Fallback": {
      "ai_languageModel": [
        [
          {
            "node": "Agent_Conversational",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Agent_Conversational",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "TRF_PrepareContext": {
      "main": [
        [
          {
            "node": "Agent_Conversational",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "versionId": "c08e3dcc-eeaa-41ff-9839-f2d63962f499",
  "meta": {
    "instanceId": "e5b5be90f9458642dd4b6a612950f8d170694c02cfe60ae6b638142ad8aa31e6"
  },
  "id": "3E5vYErpKq96I7iS",
  "tags": [
    {
      "updatedAt": "2026-02-28T20:43:57.398Z",
      "createdAt": "2026-02-28T20:43:57.398Z",
      "id": "L6OShbFn4DQIWFov",
      "name": "v3 EMII - staging"
    }
  ]
}