[DEV] EMII_WF10_QC_PIPELINE.json
{
  "name": "[DEV] EMII_WF10_QC_PIPELINE",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "name": "TRG_FromOrchestrator",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -608,
        304
      ],
      "id": "e26161e6-de5a-4e5e-8676-8ed505e7d4b9",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Garantir envelope do trigger\nlet _triggerEnvelope = {};\ntry { _triggerEnvelope = $('TRG_FromOrchestrator').item.json.envelope || {}; } catch(e) {}\n\n// TRF_HardValidate - Hard rules validation with CONTEXTUAL CHECK\nconst input = $json;\n\n// Handle both formats: with envelope or direct response_text\nconst envelope = input.envelope || {};\nconst agentResponse = input.agent_response || {};\n\n// === GET USER MESSAGE FOR CONTEXT ===\nconst userMessage = envelope.user_message || envelope.text_raw || '';\n\n// === EXTRACT TEXT ===\nlet draftText = '';\n\n// 1. Check direct response_text\nif (input.response_text) {\n  draftText = input.response_text;\n}\n\n// 2. Check summary (from Capture workflow)\nif (!draftText && input.summary) {\n  draftText = input.summary;\n}\n\n// 3. Check agent_response.text\nif (!draftText) {\n  const textField = agentResponse.text;\n  if (typeof textField === 'string') {\n    draftText = textField;\n  } else if (textField && typeof textField === 'object') {\n    draftText = textField.response_text || textField.text || textField.message || textField.content || '';\n  }\n}\n\n// 4. Check agent_response.output (langchain format)\nif (!draftText && agentResponse.output) {\n  if (typeof agentResponse.output === 'string') {\n    draftText = agentResponse.output;\n  } else if (agentResponse.output.response_text) {\n    draftText = agentResponse.output.response_text;\n  }\n}\n\n// If no text found, skip validation\nif (!draftText) {\n  return [{\n    json: {\n      passed: true,\n      reason: 'no_text_to_validate',\n      draft_text: '',\n      user_message: userMessage,\n      envelope: (_triggerEnvelope.from_phone ? _triggerEnvelope : envelope),\n      agent_response: agentResponse,\n      validation_flags: input.validation_flags || {}\n    }\n  }];\n}\n\n// === HARD RULES ===\nconst rules = [];\n\nif (!draftText.trim()) {\n  rules.push({ rule: 'empty_response', passed: false });\n}\n\nif (draftText.trim().length < 5) {\n  rules.push({ rule: 'too_short', passed: false });\n}\n\nconst errorPatterns = ['erro', 'error', 'falha', 'failed', 'undefined', 'null'];\nconst hasError = errorPatterns.some(p => draftText.toLowerCase().includes(p) && draftText.length < 50);\nif (hasError) {\n  rules.push({ rule: 'contains_error', passed: false });\n}\n\n// Check for non-contextual response (greeting when user asked for action)\nconst actionKeywords = ['lembra', 'anota', 'salva', 'cria', 'agenda', 'marca', 'preciso', 'tenho que'];\nconst isActionRequest = actionKeywords.some(k => userMessage.toLowerCase().includes(k));\nconst greetingPatterns = ['bom dia', 'boa tarde', 'boa noite', 'olá', 'oi ', 'como posso ajudar'];\nconst isGenericGreeting = greetingPatterns.some(p => draftText.toLowerCase().includes(p)) && draftText.length < 100;\n\nif (isActionRequest && isGenericGreeting) {\n  rules.push({ rule: 'generic_greeting_for_action', passed: false });\n}\n\n// CONTEXTUAL COHERENCE CHECK: Detect when response is a list of items\n// but user asked a personal/social question\nconst personalPatterns = [\n  /qual\\s+(meu|seu|é\\s+meu|é\\s+o\\s+meu)\\s+nome/i,\n  /meu\\s+nome.*qual/i,\n  /quem\\s+sou\\s+eu/i,\n  /como\\s+(me\\s+)?chamo/i,\n  /qual\\s+sua\\s+fun/i,\n  /o\\s+que\\s+voc/i,\n  /quem\\s+é\\s+voc/i,\n  /qual\\s+minha\\s+empresa/i\n];\nconst isPersonalQuestion = personalPatterns.some(p => p.test(userMessage));\nconst looksLikeItemList = /\\d{2}\\/\\d{2}\\/\\d{4}/.test(draftText) || \n  (draftText.includes('🔔') && draftText.includes('🕐')) ||\n  (draftText.includes('Pendente') && draftText.includes('Conclu'));\nif (isPersonalQuestion && looksLikeItemList) {\n  rules.push({ rule: 'item_list_for_personal_question', passed: false });\n}\n\n// NEW: Check for internal instruction leakage (calendar/tasks metadata)\nconst internalLeakPatterns = ['calendar_action', 'tasks_action', 'hints', 'time_window', 'needs_clarification', '\"action\":', '\"route\":', 'provider:', 'gtasks', 'gcal'];\nconst hasInternalLeak = internalLeakPatterns.some(p => draftText.toLowerCase().includes(p.toLowerCase()));\nif (hasInternalLeak) {\n  rules.push({ rule: 'internal_instruction_leak', passed: false });\n}\n\n\n// NEW: Check for phone number leakage in response\nconst phonePattern = /\\+?\\d{2}\\s?\\d{2}\\s?\\d{4,5}[\\s-]?\\d{4}/;\nconst hasPhoneLeak = phonePattern.test(draftText);\nif (hasPhoneLeak) {\n  rules.push({ rule: 'phone_number_leak', passed: false });\n}\n\n// NEW: Check for \"mensagem de\" or \"chegou do número\" patterns (treating user msg as third-party)\nconst thirdPartyPatterns = ['chegou do número', 'mensagem de', 'recebeu uma mensagem', 'do número +'];\nconst hasThirdPartyLeak = thirdPartyPatterns.some(p => draftText.toLowerCase().includes(p.toLowerCase()));\nif (hasThirdPartyLeak) {\n  rules.push({ rule: 'third_party_message_leak', passed: false });\n}\n\nconst failedRules = rules.filter(r => !r.passed);\nconst allPassed = failedRules.length === 0;\n\n// Build validation flags\nconst validationFlags = {};\nfailedRules.forEach(r => { validationFlags[r.rule] = true; });\n\nreturn [{\n  json: {\n    passed: allPassed,\n    force_regenerate: !allPassed,\n    reason: allPassed ? 'all_rules_passed' : failedRules.map(r => r.rule).join(','),\n    draft_text: draftText,\n    user_message: userMessage,\n    envelope: (_triggerEnvelope.from_phone ? _triggerEnvelope : envelope),\n    agent_response: agentResponse,\n    validation_flags: validationFlags\n  }\n}];"
      },
      "name": "TRF_HardValidate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        304
      ],
      "id": "5695b739-c0a7-4eb9-b765-d9382c46ac01"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "force-regen",
              "leftValue": "={{ $json.force_regenerate }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        },
        "options": {}
      },
      "name": "IF_ForceRegenerate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -208,
        304
      ],
      "id": "7d94fbf0-c79d-484e-bfd5-f728730a6ac6"
    },
    {
      "parameters": {
        "jsCode": "// Garantir envelope do trigger\nlet _triggerEnvelope = {};\ntry { _triggerEnvelope = $('TRG_FromOrchestrator').item.json.envelope || {}; } catch(e) {}\nconst _envelope = (_triggerEnvelope.from_phone ? _triggerEnvelope : ($json.envelope || {}));\n\n// TRF_UseFallback - Use SAFE fallback when QC rejects the response\nconst data = $('TRF_HardValidate').item.json;\nconst validationFlags = data.validation_flags || {};\nconst failedRules = Object.keys(validationFlags).filter(k => validationFlags[k]);\n\n// Determine safe fallback based on context\nconst userMessage = (data.user_message || '').toLowerCase();\nlet fallbackText = '';\n\n// Check what type of failure\nconst isPhoneLeak = failedRules.includes('phone_number_leak') || failedRules.includes('third_party_message_leak');\nconst isGenericGreeting = failedRules.includes('generic_greeting_for_action');\n\nif (isPhoneLeak) {\n  // Phone leak - generate contextual safe response\n  if (userMessage.match(/^(oi|olá|hey|bom dia|boa tarde|boa noite|e aí|fala)/)) {\n    fallbackText = 'Oi Márcio! Tudo bem com você? Como posso te ajudar hoje? 😊';\n  } else {\n    fallbackText = 'Oi Márcio! Estou aqui para te ajudar. Me conta o que precisa! 😊';\n  }\n} else if (isGenericGreeting) {\n  fallbackText = 'Entendi, Márcio! Vou cuidar disso para você. 😊';\n} else {\n  // Other failures - try to use draft_text if it exists, otherwise generic\n  fallbackText = data.draft_text || 'Oi Márcio! Estou aqui para te ajudar. Me conta o que precisa! 😊';\n}\n\nreturn [{\n  json: {\n    envelope: data.envelope,\n    agent_response: data.agent_response,\n    qc_result: {\n      approved: true,\n      final_text: fallbackText,\n      issues: failedRules,\n      used_fallback: true,\n      envelope: data.envelope\n    },\n    validation_flags: validationFlags\n  }\n}];"
      },
      "name": "TRF_UseFallback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        208
      ],
      "id": "ecf12be9-376d-4f1f-91ea-28ea63769424"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "gpt-5.2"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 600
        }
      },
      "name": "LLM_QC_Primary",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -192,
        608
      ],
      "id": "077dfa01-c72c-4504-bb6e-55043ac423c8",
      "credentials": {
        "openAiApi": {
          "id": "OyRKCJH0YdG2smVs",
          "name": "Infra_OpenAi_Agents_Call"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 600,
          "temperature": 0.2
        }
      },
      "name": "LLM_QC_Fallback",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -16,
        656
      ],
      "id": "5229b62b-90eb-42af-a98b-b49c40c42c90",
      "credentials": {
        "openAiApi": {
          "id": "OyRKCJH0YdG2smVs",
          "name": "Infra_OpenAi_Agents_Call"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.1-codex",
          "mode": "list",
          "cachedResultName": "gpt-5.1-codex"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 400
        }
      },
      "name": "LLM_QC_Retry",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        288,
        832
      ],
      "id": "e94f5ef0-17d5-4b04-a16a-70f3388dd8dd",
      "credentials": {
        "openAiApi": {
          "id": "OyRKCJH0YdG2smVs",
          "name": "Infra_OpenAi_Agents_Call"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"approved\": { \"type\": \"boolean\" },\n    \"final_text\": { \"type\": \"string\" },\n    \"issues\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    }\n  },\n  \"required\": [\"approved\", \"final_text\"],\n  \"additionalProperties\": false\n}",
        "autoFix": true,
        "customizeRetryPrompt": true,
        "prompt": "Developer: You are a strict JSON repair engine.\n\nGiven input JSON containing 'error' and 'completion' fields, return a JSON object with the following keys only:\n\n{\n  \"approved\": true|false,\n  \"final_text\": string,\n  \"issues\": array\n}\n\n- 'approved': true only if all required fields are present and have their correct types. Otherwise, false.\n- 'final_text': Corrected or verified JSON string. If not repairable, use an empty string.\n- 'issues': Array of issue strings (e.g., missing/extra fields, type errors).\n\nFor missing, null, or malformed required fields, list the issue in 'issues'.\n\nOutput strictly in the specified JSON format—do not include extra text.\n\nError: {error}\nOriginal: {completion}\n\n## Output Example\n{\n  \"approved\": false,\n  \"final_text\": \"\",\n  \"issues\": [\n    \"Missing field: approved\",\n    \"Field 'issues' is null, should be an array\",\n    \"Extra field: unexpected_field\"\n  ]\n}"
      },
      "name": "Parser_QC",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        368,
        656
      ],
      "id": "c0e564c0-88b6-44de-ae53-0ef7cabe9c21"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Revise a resposta antes de enviar ao usuário.\n\nMENSAGEM DO USUÁRIO:\n{{ $json.user_message }}\n\nRESPOSTA ORIGINAL:\n{{ $json.draft_text }}\n\nFLAGS DE VALIDAÇÃO:\n{{ JSON.stringify($json.validation_flags) }}\n\nREGRA CRÍTICA: Se a RESPOSTA ORIGINAL não tem relação com a MENSAGEM DO USUÁRIO, rejeite (approved=false) e forneça uma resposta adequada em final_text.",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "Você é o **EGA (Ethical Guardrail Agent) do EMII**.\nSua função é revisar e validar as respostas antes de enviar ao usuário.\n\n## CRITÉRIOS DE APROVAÇÃO\n- Resposta clara e objetiva\n- Tom apropriado (amigável, profissional)\n- Sem erros gramaticais graves\n- Sem vazamento de prompt ou instruções internas\n- **COERÊNCIA CONTEXTUAL: A resposta DEVE ser relevante à pergunta do usuário**\n\n## CRITÉRIOS DE REJEIÇÃO (approved=false)\n- Texto vazio ou muito curto\n- Vazamento de prompt (ex: \"Retorne APENAS JSON\", \"você é um revisor\")\n- Conteúdo inapropriado\n- **Resposta incoerente com a pergunta** (ex: lista de lembretes quando o usuário perguntou o nome dele)\n- Resposta que ignora completamente o que o usuário pediu\n\n## REGRAS\n1. Se approved=false, você DEVE fornecer final_text corrigido\n2. Se a resposta é uma lista de itens mas o usuário fez uma pergunta pessoal/social, rejeite e responda adequadamente\n3. Liste issues encontrados\n4. Mantenha a essência da resposta original quando aprovada\n\n## CONTRATO DE SAÍDA\n{\n  \"approved\": true,\n  \"final_text\": \"Texto revisado aqui\",\n  \"issues\": []\n}\n⚠️ NÃO inclua texto fora do JSON."
        }
      },
      "name": "Agent_QC",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        112,
        400
      ],
      "id": "fda23bb0-399c-4044-ace8-fdef83dc9fe5"
    },
    {
      "parameters": {
        "jsCode": "// TRF_ProcessQCResult - Process QC agent result\nconst hardValidate = $('TRF_HardValidate').item.json;\nconst qcOutput = $('Agent_QC').item.json;\n\nlet approved = true;\nlet final_text = hardValidate.draft_text;\nlet issues = [];\n\ntry {\n  if (qcOutput.approved !== undefined) {\n    approved = qcOutput.approved;\n    final_text = qcOutput.final_text || hardValidate.draft_text;\n    issues = qcOutput.issues || [];\n  } else if (qcOutput.output) {\n    let outputText = qcOutput.output;\n    outputText = outputText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n    const parsed = JSON.parse(outputText);\n    approved = parsed.approved !== false;\n    final_text = parsed.final_text || hardValidate.draft_text;\n    issues = parsed.issues || [];\n  }\n} catch (e) {\n  // Default: approve original\n  approved = true;\n  final_text = hardValidate.draft_text;\n}\n\n// Final safety check on final_text\nconst leakPatterns = [/```/, /retorne apenas json/i, /contrato de saída/i];\nfor (const pattern of leakPatterns) {\n  if (pattern.test(final_text)) {\n    final_text = 'Entendi! Como posso ajudar?';\n    issues.push('prompt_leak_in_final');\n    break;\n  }\n}\n\nreturn [{\n  json: {\n    envelope: hardValidate.envelope,\n    agent_response: hardValidate.agent_response,\n    qc_result: {\n      approved: approved,\n      final_text: final_text,\n      issues: issues,\n      used_fallback: false\n    },\n    validation_flags: hardValidate.validation_flags\n  }\n}];"
      },
      "name": "TRF_ProcessQCResult",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        400
      ],
      "id": "fc219876-ef1b-446b-89b2-1c15fd982c53"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "name": "Merge_QC",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        768,
        304
      ],
      "id": "3fc207d0-9797-47c5-9c56-4378654a29b6"
    },
    {
      "parameters": {
        "jsCode": "// TRF_Humanizer - Split final_text into messages[]\nconst data = $json;\nconst final_text = data.qc_result.final_text || '';\n\n// Split logic:\n// - Short (< 200 chars): 1 message\n// - Medium (200-500 chars): 2 messages\n// - Long (> 500 chars): 3 messages\n\nconst messages = [];\n\nif (final_text.length < 200) {\n  // Single message\n  messages.push({ message: final_text });\n} else if (final_text.length < 500) {\n  // Split into 2 messages at sentence boundary\n  const sentences = final_text.match(/[^.!?]+[.!?]+/g) || [final_text];\n  const midpoint = Math.ceil(sentences.length / 2);\n  \n  const part1 = sentences.slice(0, midpoint).join(' ').trim();\n  const part2 = sentences.slice(midpoint).join(' ').trim();\n  \n  if (part1) messages.push({ message: part1 });\n  if (part2) messages.push({ message: part2 });\n} else {\n  // Split into 3 messages\n  const sentences = final_text.match(/[^.!?]+[.!?]+/g) || [final_text];\n  const third = Math.ceil(sentences.length / 3);\n  \n  const part1 = sentences.slice(0, third).join(' ').trim();\n  const part2 = sentences.slice(third, third * 2).join(' ').trim();\n  const part3 = sentences.slice(third * 2).join(' ').trim();\n  \n  if (part1) messages.push({ message: part1 });\n  if (part2) messages.push({ message: part2 });\n  if (part3) messages.push({ message: part3 });\n}\n\n// Ensure at least 1 message\nif (messages.length === 0) {\n  messages.push({ message: final_text || 'Entendi!' });\n}\n\nreturn [{\n  json: {\n    envelope: data.envelope,\n    qc_result: data.qc_result,\n    validation_flags: data.validation_flags,\n    final_response: {\n      text: final_text,\n      messages: messages,\n      agent: data.agent_response?.agent || 'UNKNOWN'\n    }\n  }\n}];"
      },
      "name": "TRF_Humanizer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        304
      ],
      "id": "151a49b7-ad3a-40a5-8352-8fab7c1b702d"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('TRF_HardValidate').item.json.envelope.from_phone }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        160,
        656
      ],
      "id": "41000aaa-7ee8-4fef-be05-765b607db063",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "path": "2482dd77-2052-46ec-ac1a-c78154b3d9ac",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        144
      ],
      "id": "e411c134-806c-49a0-948d-293ffd3fb181",
      "name": "Webhook",
      "webhookId": "2482dd77-2052-46ec-ac1a-c78154b3d9ac"
    }
  ],
  "pinData": {},
  "connections": {
    "TRG_FromOrchestrator": {
      "main": [
        [
          {
            "node": "TRF_HardValidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TRF_HardValidate": {
      "main": [
        [
          {
            "node": "IF_ForceRegenerate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_ForceRegenerate": {
      "main": [
        [
          {
            "node": "TRF_UseFallback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agent_QC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TRF_UseFallback": {
      "main": [
        [
          {
            "node": "Merge_QC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent_QC": {
      "main": [
        [
          {
            "node": "TRF_ProcessQCResult",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TRF_ProcessQCResult": {
      "main": [
        [
          {
            "node": "Merge_QC",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge_QC": {
      "main": [
        [
          {
            "node": "TRF_Humanizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM_QC_Primary": {
      "ai_languageModel": [
        [
          {
            "node": "Agent_QC",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LLM_QC_Fallback": {
      "ai_languageModel": [
        [
          {
            "node": "Agent_QC",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Parser_QC": {
      "ai_outputParser": [
        [
          {
            "node": "Agent_QC",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "LLM_QC_Retry": {
      "ai_languageModel": [
        [
          {
            "node": "Parser_QC",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Agent_QC",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "versionId": "b676347a-456c-4100-bdd4-d73d1556a6ca",
  "meta": {
    "instanceId": "e5b5be90f9458642dd4b6a612950f8d170694c02cfe60ae6b638142ad8aa31e6"
  },
  "id": "cjf2oW9W4TOL71bh",
  "tags": [
    {
      "updatedAt": "2026-02-28T20:43:57.398Z",
      "createdAt": "2026-02-28T20:43:57.398Z",
      "id": "L6OShbFn4DQIWFov",
      "name": "v3 EMII - staging"
    }
  ]
}